@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;

	background: rgba(98, 125, 77, 1);
	background: -moz-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98, 125, 77, 1)), color-stop(100%, rgba(31, 59, 8, 1)));
	background: -webkit-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
	background: -o-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
	background: -ms-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
	background: linear-gradient(to right, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1);

}

@font-face {
	font-family: 'a';
	src: url(fonts/cool.TTF);
}

@font-face {
	font-family: 'b';
	src: url(fonts/libel.ttf);
}

@font-face {
	font-family: 'c';
	src: url(fonts/segoeui.ttf);
}

@font-face {
	font-family: 'd';
	src: url(fonts/trebuc.ttf);
}

.heading {
	font-family: 'a';
	font-size: 25px;
	color: rgba(255, 255, 255, 1.00);
}

#header {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.00);
	padding: 10px 0px;
	position: fixed;
	top: 0;
	transition: 0.5s;
}

#header:hover {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.00);
	padding: 10px 0px;
	position: fixed;
	top: 0;
	text-shadow: 1px 1px 20px rgba(255, 255, 255, 1.00);
	transition: 0.5s;
}

.subHead {
	font-family: 'c';
	font-size: 16px;
	color: rgba(255, 255, 255, 1.00);
}

#content {
	height: auto;

	background: rgb(25, 145, 224);
	background: -moz-linear-gradient(left, rgb(25, 145, 224) 0%, rgb(25, 145, 224) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgb(25, 145, 224)), color-stop(100%, rgb(25, 145, 224)));
	background: -webkit-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgb(25, 145, 224) 100%);
	background: -o-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgb(25, 145, 224) 100%);
	background: -ms-linear-gradient(left, rgba(98, 125, 77, 1) 0%, rgb(25, 145, 224) 100%);
	background: linear-gradient(to right, rgba(98, 125, 77, 1) 0%, rgb(25, 145, 224) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1);

	width: 800px;
	border-radius: 7px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1.00);

	border: 1px solid rgba(98, 125, 77, 1);
}

input,
textarea,
select {
	font-family: 'd';
	font-size: 16px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 1.00);
	text-align: center;
	color: rgba(255, 255, 255, 1.00);
	padding: 2px 5px;
	border-radius: 4px;
	transition: 0.5s;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:hover,
select:focus {
	font-family: 'd';
	font-size: 16px;
	background-color: rgba(255, 255, 255, 1.00);
	border: 1px solid rgba(255, 255, 255, 1.00);
	text-align: center;
	color: rgba(64, 81, 51, 1.00);
	padding: 2px 5px;
	border-radius: 4px;
	transition: 0.5s;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 1.00);
}

.cap {
	text-transform: capitalize;
}

.Text {
	font-family: 'd';
	font-size: 15px;
	color: rgba(255, 255, 255, 1.00);
}

textarea,
textarea:hover,
textarea:focus {
	text-align: left;
}

hr {
	width: 500px;
	border: 1px solid rgba(255, 255, 255, 1.00);
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=button] {
	padding: 5px 10px;
	cursor: pointer;
}

.footer {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.00);
	padding: 2px 0px;
	bottom: 0px;
	position: fixed;
	font-family: 'd';
	font-size: 15px;
	color: rgba(126, 126, 126, 1.00);
}

.footer:hover {
	text-decoration: none;
	font-size: 15px;
	position: fixed;
	color: rgba(88, 213, 1, 1.00);
	text-shadow: 1px 1px 15px rgba(32, 191, 20, 1.00);
	transition: 0.5s;
}

.flashFalse {
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	font-family: 'c';
	font-size: 16px;
	padding: 5px 20px;
	background-color: rgba(255, 0, 4, 0.6);
	border-radius: 5px;
}

@keyframes flash {
	from {
		color: rgba(211, 247, 49, 1.00);
	}

	to {
		color: white;
	}
}

.flashTrue {
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	font-family: 'c';
	font-size: 16px;
	padding: 5px 20px;
	background-color: rgba(53, 154, 17, 0.60);
	border-radius: 5px;
}
